### Import the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

%matplotlib inline

### Load in the dataset

In [4]:
df = pd.read_csv('heart_data.csv')

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
df.shape

(303, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       291 non-null    float64
 1   sex       303 non-null    int64
 2   cp        300 non-null    float64
 3   trestbps  289 non-null    float64
 4   chol      288 non-null    float64
 5   fbs       299 non-null    float64
 6   restecg   298 non-null    float64
 7   thalach   287 non-null    float64
 8   exang     302 non-null    float64
 9   oldpeak   300 non-null    float64
 10  slope     299 non-null    float64
 11  ca        298 non-null    float64
 12  thal      302 non-null    float64
 13  target    303 non-null    int64
dtypes: float64(12), int64(2)
memory usage: 33.3 KB

In [22]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [20]:
df['thal'].mode()

0    2.0
Name: thal, dtype: float64

In [21]:
df.fillna({'age':54, 'cp':1, 'trestbps':131, 'chol':244, 'fbs':0, 'restecg':1, 'thalach':150, 'exang':0, 'oldpeak':1, 'slope':1, 'ca':0, 'thal':2}, inplace=True)

In [23]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.382838,0.683168,0.963696,131.409241,244.818482,0.145215,0.534653,149.900990,0.326733,1.019142,1.399340,0.719472,2.310231,0.544554
std,8.856769,0.466011,1.027117,17.178962,50.001226,0.352900,0.525465,22.417991,0.469794,1.135591,0.610829,1.021548,0.611258,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,138.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,243.000000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,60.000000,1.000000,2.000000,140.000000,270.500000,0.000000,1.000000,165.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [24]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

### Splitting the features and target

In [25]:
x = df.drop(columns = 'target', axis=1)
y = df['target']

### Splitting the data into training data and testing data

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.08, stratify=y, random_state=2)

In [44]:
print(x.shape, x_train.shape, x_test.shape)

(303, 13) (278, 13) (25, 13)

In [45]:
print(y.shape, y_train.shape, y_test.shape)

(303,) (278,) (25,)

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Performing standard scaling scaling on the x_train dataset
x_train = scaler.fit_transform(x_train)

# Performing standard scaling on the x_test dataset
x_test = scaler.transform(x_test)

#### Model Training

In [47]:
model = LogisticRegression()

In [48]:
model.fit(x_train, y_train)

LogisticRegression()

In [49]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)
print("Accuracy on Training data: ", training_data_accuracy)

Accuracy on Training data:  0.8525179856115108

In [56]:
input_data = df.iloc[2:3, 0:13]
input_data_array = np.asarray(input_data)
input_data_reshape = input_data_array.reshape(1, -1)

input_data_reshape = scaler.transform(input_data_reshape)
#print(input_data_reshape)
prediction = model.predict(input_data_reshape)

if prediction[0] == 0:
    print(f'Prediction outcome is {prediction}, the person has no heart disease')
else:
    print(f'Prediction outcome is {prediction}, the person has heart disease.')

Prediction outcome is [1], the person has heart disease.